* { box-sizing: border-box; }
html {
  font-family: sans-serif;
}

body {
  background-color: #CAE4E3;
  color: #00454E;
  position: relative;
  margin: 0px;
}
/* menubar */

a {
    text-decoration: none;
    color: inherit;
}

.menu-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background: #E4F1F1;
}

nav {
    display: flex;
    justify-content:space-between;
}

.logo {
    max-height: 60px;
}

.profil {
    max-height: 70px;
}

.bar {
    height: auto;
    background: #CAE4E3;
    border-bottom-style: solid;
    border-width: 1px;
}

.bar-indhold {
    width: 100%;
    margin: 0 auto;
    margin-top: -10px;
    padding: 1rem;
    margin-left: -4px;
    display: flex;
    justify-content: space-between;

}

/* Search bar */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    padding-left: 0px;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: #1A444D;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  /* menubar */

  /* events */
  .braetspil {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
    padding-left: 17;
  }

  .braetspil-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .fredagsbar {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
    padding-left: 17;
  }

  .fredagsbar-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .content-box {
    box-sizing: content-box;
    margin-top: -38px;

  }

  .bogklub {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
  }

  .bogklub-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .hjerte {
    object-fit: contain;
    height: 23px;
    width: auto;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    top: 10px;
    right: 10px;
  }

  .h1 {
    font-size: 16px;
    padding-left: 13px;
    color: white;
  }

  .p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    -position: relative;
    bottom: 15px;
    left: 10px;
    padding-left: 13px;
    color: white;
  }

  .p2 {
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    font-size: 17px;
    -position: relative;
    left: 25px;
    padding-left: 13px;
    color: white;
  }

  .campus-fest {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
    padding-left: 17;
  }

  .campusfest-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .h1 {
    font-size: 16px;
    padding-left: 13px;
  }

  .p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    -position: relative;
    bottom: 15px;
    left: 10px;
    padding-left: 13px;
  }

  .p2 {
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    font-size: 17px;
    -position: relative;
    left: 25px;
    padding-left: 13px;
  }

  .turnering {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
  }

  .turnering-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .content-box4 {
    box-sizing: content-box;
    margin-top: -38px;

  }

  .hjerte-fuld {
    object-fit: contain;
    height: 23px;
    width: auto;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    top: 10px;
    right: 10px;
  }

  .filmaften {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
  }

  .filmaften-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .hjerte {
    object-fit: contain;
    height: 23px;
    width: auto;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    top: 10px;
    right: 10px;
  }

  .sport {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
  }

  .sport-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .content-box4 {
    box-sizing: content-box;
    margin-top: -38px;

  }

  .hjerte-fuld {
    object-fit: contain;
    height: 23px;
    width: auto;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    top: 10px;
    right: 10px;
  }

  .workshop {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    border-radius: 8px;
  }

  .workshop-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .hjerte {
    object-fit: contain;
    height: 23px;
    width: auto;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    top: 10px;
    right: 10px;
  }
  /* events */
