* { box-sizing: border-box; }
html {
  font-family: sans-serif;
}

body {
  background-color: #CAE4E3;
  color: #00454E;
  position: relative;
  margin: 0px;
}

p {
  font-size: 20px;
  margin-top: -10px;
  padding-left: 13px;
}

.event-titel {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
    font-size: 16px;
    padding-left: 13px;
  }

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.h2 {
  font-family: proxima-nova, sans-serif;
font-weight: 500;
font-style: normal;
color: #E4F1F1;
    font-size: 12px;
    padding-left: 130px;
    margin-top: -75px;
  }

h3 {
  font-size: 20px;
  font-weight: italic;
}

h4 {
  font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
}

.p3 {
  font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
color: #E4F1F1;

    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: -8px;
    bottom: 15px;
    left: 10px;
    padding-left: 130px;
  }


.p4 {
  font-family: proxima-nova, sans-serif;
font-weight: 400;
font-style: normal;
color: #E4F1F1;
opacity: 80%;
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    font-size: 12px;
    left: 25px;
    padding-left: 130px;
  }

  a {
    text-decoration: none;
    color: inherit;
}


  .adr {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 80%;
        padding: 0px;
        margin: 0px;
        margin-top: -20px;
        font-size: 17px;
        left: 25px;
        padding-left: 13px;
      }


    .hjerte {
      object-fit: contain;
      height: 23px;
      width: auto;
      float:right;
      margin-right: 10px;
      margin-top: 5px;
      top: 10px;
      right: 10px;
    }

    .hjerte2 {
      object-fit: contain;
      height: 14px;
      width: 14px;
      position: absolute;
      top: 10px;
      right: 10px;
  }


    .hjerte-fuld {
      object-fit: contain;
      height: 23px;
      width: auto;
      float:right;
      margin-right: 10px;
      margin-top: 5px;
      top: 10px;
      right: 10px;
    }


/* Menu bar */
    .menu-container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    header {
        background: #E4F1F1;
    }

    nav {
        display: flex;
        justify-content:space-between;
    }

    .logo {
        max-height: 60px;
    }

    .profil {
        max-height: 70px;
    }

    .bar {
        height: auto;
        background: #CAE4E3;
    }

    .bar-indhold {
        width: 100%;
        margin: 0 auto;
        margin-top: -10px;
        padding: 1rem;
        margin-left: -4px;
        display: flex;
        justify-content: space-between;

    }

    /* Search bar */

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
        padding-left: 0px;
      }
      input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        font-family: proxima-nova, sans-serif;
font-weight: 300;
font-style: normal;
        padding: 10px;
        font-size: 16px;
      }
      input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
      }
      input[type=submit] {
        background-color: #1A444D;
        color: #fff;
      }
      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
      }
      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
      }
      .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
      }
      .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
      }

/* Forside */

/* Slideshow */
* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

/* på lille skærm, gør billede mindre */
{@media only screen and (max-width: 300px)}



.kategorier-forside {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: italic;
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  background-color: #00454E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  padding: 11px 18px;
}


/* events */
.kommende {
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
  color: #00454E;
}

.lille-event {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille {
  box-sizing: content-box;
  margin-top: -38px;

}


/* se mere knap */
.button5 {
  font-family: proxima-nova, sans-serif;
font-weight: 600;
font-style: italic;
line-height: 10px;
  border: none;
  border-radius: 8px;
  margin-left: 308px;
  margin-top: -10px;
  color: #00454E;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #FAE76A;
  max-width: 80px;
  height: 40px;
}

/* dine favoritter */
.favoritter {
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
  color: #00454E;
}


/* se mere knap */
.button5 {
  border: none;
  border-radius: 8px;
  margin-left: 308px;
  margin-top: -10px;
  margin-bottom: -20px;
  padding-right: 8px;
  padding-left: 8px;
  color: #00454E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  background-color: #FAE76A;
  max-width: 80px;
  height: 40px;
}




/* Events side */

/* Scroll kategorimenu */


.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: block;
    align-items: center;
    margin-left: 20px;
  }

  div.scrollmenu a {
    display: inline-block;
    color: #00454E;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
  }

  div.scrollmenu a:hover {
    background-color: #00454E;
    color: #E4F1F1;
  }

  .btn {
    font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
    border: none;
    border-radius: 8px;
    color: #00454E;
    background-color: #E4F1F1;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 25px;
    margin-right: 10px;
  }


  .btn:hover {
    background-color: #FAE76A;
  }


  .btn.active {
    background-color: #00454E;
    color: #E4F1F1;
  }


/* Events "kort" */

  .events {
    overflow: hidden;
  }

  .filterDiv {
    width: 360px;
    height: 270px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #00454E;
    color: #E4F1F1;
    border-radius: 8px;
    padding-left: 17;
    display: none; /* Hidden by default */
  }

  .show {
    display: block;
  }


 .events-img {
    width: 360px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

.content {
    margin-top: 15px;
}



/* Eventside */

.start-tekst h2 {
  margin-top: -8px;
}

.start-tekst h3{
  margin-top: -13px;
}

.btn-deltagere {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: italic;
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  background-color: #00454E;
  padding: 9px 40px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
      background-color: #FAE76A;
      transition: 0.2s;
      color: #00454E;
  }

.btn-deltag{
  font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  background-color: #00454E;
  padding: 9px 40px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 14px;
  margin-top: 7px;

}

.btn-deltag:hover {
      background-color: #FAE76A;
      transition: 0.2s;
      color: #00454E;
  }

.btn-del{
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  background-color: #00454E;
  padding: 11px 9px;
  padding-bottom: 9px;
  font-size: 16px;
  cursor: pointer;
}

.btn-del:hover {
      background-color: #FAE76A;
      transition: 0.2s;
      color: #00454E;
}

.flex-deltagere{
  flex-direction: row;
  padding-top: 4px;
  margin-left: 14px;
}

.lokation {
 display: flex;
 justify-content: left;

}

.lokation-ikon{
  height: 20px;
  width: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}

.info-boks {
  background-color: #00454E;
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  padding: 6px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.info-tekst {
  font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
  margin-left: 14px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.info {
  font-family: proxima-nova, sans-serif;
font-weight: 500;
font-style: normal;
  color: #E4F1F1;
  font-size: 16px;
  margin: 7px;
  line-height: 22px;
}

.mybtn {
  font-family: proxima-nova, sans-serif;
font-weight: 700;
font-style: italic;
font-size: 16px;
  background-color: #F2CAC1;
  color: #00454E;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #E4F1F1;
}

.modalBtn {
    border: none;
    border-radius: 8px;
    color: #E4F1F1;
    background-color: #00454E;
    padding: 9px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 14px;
  }

.modal-content {
  background-color: #00454E;
  margin: auto;
  padding: 25px;
  border: 1px solid #00454E;
  width: 80%;

}

.close {
  color: #E4F1F1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #E4F1F1;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #E4F1F1;
}

.modalBtn {
    border: none;
    border-radius: 8px;
    color: #E4F1F1;
    background-color: #00454E;
    padding: 9px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 14px;
  }

.modal-content {
  background-color: #00454E;
  margin: auto;
  padding: 25px;
  border: 1px solid #00454E;
  width: 80%;

}

.close {
  color: #E4F1F1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #E4F1F1;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (min-width: 768px){

/* mellem skærm til forside */
.h2{
  font-size: 24px;
}

.p3{
  font-size: 28px;
}

.p4{
  font-size: 24px;
}
  .kategorier-forside {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
  }

.kommende {
  font-size: 32px;
  margin-left: 200px;
}

.favoritter {
  font-size: 32px;
  margin-left: 200px;
  margin-top: 50px;
}

.button5 {
  margin-left: 220px;
}

  .lille-event {
    width: 711px;
    height: 175px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .lille-img {
    width: 239px;
    height: 175px;
    padding: 0px;
  }

  .content-lille {
    box-sizing: content-box;
    margin-top: -150px;
    margin-left: 150px;

  }

  .hjerte2 {
    height: 28px;
    width: 28px;
}

.kategorier-forside {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.button {
  font-size: 27px;
  cursor: pointer;
  padding: 15px 35px;
}

.button5 {
  margin-top: -10px;
  max-width: 200px;
  height: 50px;
}

/* mellem skærm til mainside */

h1{
  font-size: 24px;
}

h4{
  font-size: 24px;
  font-weight: normal;
}

p.info{
  font-size: 24px;
  margin: 20px;
}

.event-titel{
  font-size: 28px;
}

.adr{
  font-size: 24px;
}

.btn-deltag {
  padding: 9px 45px;
  font-size: 28px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.btn-deltagere {
  padding: 9px 45px;
  font-size: 28px;
}

.btn-del{
  padding: 13px 20px;
  padding-bottom: 12px;
  font-size: 28px;
}
.lokation{
  margin-top: -10px;
}

.info-tekst{
  margin-left: 14px;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: -10px;
}

button.mybtn{
  font-size: 24px;
  padding: 4px 15px;
  margin-left: 30px;
}
}

@media only screen and (min-width: 1024px){

  /* stor skærm til forside */
  .h2{
    font-size: 24px;
  }

  .p3{
    font-size: 32px;
  }

  .p4{
    font-size: 24px;
  }

    .kategorier-forside {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 40px;
    }

  .kategorier-forside {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .button {
    font-size: 27px;
    cursor: pointer;
    padding: 15px 35px;
  }

  .button5 {
    margin-top: -10px;
    max-width: 200px;
    height: 50px;
  }

  /* stor skærm til mainside */
  h1{
    font-size: 30px;
  }

  h4{
    font-size: 30px;
    font-weight: normal;
  }

  p.info{
    font-size: 30px;
    margin: 20px;
  }

  .event-titel{
    font-size: 32px;
  }

  .adr{
    font-size: 30px;
  }

  .btn-deltag {
    padding: 9px 45px;
    font-size: 32px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .btn-deltagere {
    font-size: 32px;
  }

  .btn-del{
    font-size: 32px;
  }
  .lokation{
    margin-top: -10px;
  }

  .info-tekst{
    font-size: 32px;
  }

  button.mybtn{
    font-size: 32px;
  }

/* stor skærm til events side */
.filterDiv {
  width: 716px;
  height: 536px;
  margin: auto;
  margin-top: 25px;
}

.events-img {
  width: 716px;
  height: auto;
}

.content {
  margin-top: -18px;
}

.event-titel {
  margin-top: -25px;
}

.adr {
  margin-top: -34px;
}

.hjerte {
  width: 35px;
  height: auto;
  margin-top:10px;
}

.hjerte-fuld {
  width: 35px;
  height: auto;
  margin-top:10px;
}

.scrollmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.btn {
  font-size: 27px;
  cursor: pointer;
  padding: 15px 35px;
  padding-top: 7px;
  max-width: 200px;
  height: 50px;
  border-radius: 8px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #E4F1F1;
}

.modalBtn {
    border: none;
    border-radius: 8px;
    color: #E4F1F1;
    background-color: #00454E;
    padding: 9px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 14px;
  }

.modal-content {
  background-color: #00454E;
  margin: auto;
  padding: 25px;
  border: 1px solid #00454E;
  width: 80%;

}

.close {
  color: #E4F1F1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #E4F1F1;
  text-decoration: none;
  cursor: pointer;
}
}
