* { box-sizing: border-box; }
html {
  font-family: sans-serif;
}

body {
  background-color: #CAE4E3;
  color: #00454E;
  position: relative;
  margin: 0px;
}
/* menubar */

a {
    text-decoration: none;
    color: inherit;
}

.menu-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background: #E4F1F1;
}

nav {
    display: flex;
    justify-content:space-between;
}

.logo {
    max-height: 60px;
}

.profil {
    max-height: 70px;
}

.bar {
    height: auto;
    background: #CAE4E3;
    border-bottom-style: solid;
    border-width: 1px;
}

.bar-indhold {
    width: 100%;
    margin: 0 auto;
    margin-top: -10px;
    padding: 1rem;
    margin-left: -4px;
    display: flex;
    justify-content: space-between;

}

/* Search bar */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    padding-left: 0px;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: #1A444D;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  /* menubar */

  /* slideshow */
  * {box-sizing: border-box}
  .mySlides {display: none}
  img {vertical-align: middle;} */

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }

  @keyframes fade {
    from {opacity: 1}
    to {opacity: 1}
  }

  /* på lille skærm, gør billede mindre */
  {@media only screen and (max-width: 300px)
}
  /* slideshow */

/* kategori button */
.button {
  border: none;
  border-radius: 8px;
  color: #E4F1F1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button1 {
  background-color: #00454E;
  padding: 16px 23px;
  margin-left: 12px;
}
.button2 {
  background-color: #00454E;
  padding: 16px 14px;
  margin-left: 10px;
}
.button3 {
  background-color: #00454E;
  padding: 16px 18px;
  margin-left: 10px;
}
.button4 {
  background-color: #00454E;
  padding: 16px 12px;
  margin-left: 10px;
}
/* kategori button */

/* kommende events */
.kommende {
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
  color: #00454E;
}

.lille-bogklub {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.bogklub-lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille-bogklub {
  box-sizing: content-box;
  margin-top: -38px;

}

.hjerte2 {
    object-fit: contain;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.h2 {
  font-size: 12px;
  padding-left: 130px;
  margin-top: -75px;
}

.p3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  bottom: 15px;
  left: 10px;
  padding-left: 130px;
}

.p4 {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  font-size: 12px;
  left: 25px;
  padding-left: 130px;
}

.lille-fredagsbar {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.fredagsbar-lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille-fredagsbar {
  box-sizing: content-box;
  margin-top: -38px;

}

.h2 {
  font-size: 12px;
  padding-left: 130px;
  margin-top: -75px;
}

.p3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  bottom: 15px;
  left: 10px;
  padding-left: 130px;
}

.p4 {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  font-size: 12px;
  left: 25px;
  padding-left: 130px;
}

.lille-braetspil {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.braetspil-lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille-braetspil {
  box-sizing: content-box;
  margin-top: -38px;

}

.h2 {
  font-size: 12px;
  padding-left: 130px;
  margin-top: -75px;
}

.p3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  bottom: 15px;
  left: 10px;
  padding-left: 130px;
}

.p4 {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  font-size: 12px;
  left: 25px;
  padding-left: 130px;
}
/* kommende events */

/* se mere knap */
.button5 {
  border: none;
  border-radius: 8px;
  margin-left: 308px;
  margin-top: -10px;
  padding-right: 8px;
  padding-left: 8px;
  color: #00454E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  background-color: #FAE76A;
  max-width: 80px;
  height: 40px;
}
/* se mere knap */

/* dine favoritter */
.favoritter {
  font-size: 20px;
  font-style: italic;
  padding-left: 20px;
  color: white;
}

.lille-turnering {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.turnering-lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille-turnering {
  box-sizing: content-box;
  margin-top: -38px;

}

.h2 {
  font-size: 12px;
  padding-left: 130px;
  margin-top: -75px;
}

.p3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  bottom: 15px;
  left: 10px;
  padding-left: 130px;
}

.p4 {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  font-size: 12px;
  left: 25px;
  padding-left: 130px;
}

.lille-bogklub {
  width: 360px;
  height: 88px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #00454E;
  color: white;
  border-radius: 8px;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.bogklub-lille-img {
  width: 120px;
  height: 88px;
  padding: 0px;
  margin: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content-lille-bogklub {
  box-sizing: content-box;
  margin-top: -38px;

}

.h2 {
  font-size: 12px;
  padding-left: 130px;
  margin-top: -75px;
}

.p3 {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  bottom: 15px;
  left: 10px;
  padding-left: 130px;
}

.p4 {
  padding: 0px;
  margin: 0px;
  margin-top: -20px;
  font-size: 12px;
  left: 25px;
  padding-left: 130px;
}
/* dine favoritter */

/* se mere knap */
.button5 {
  border: none;
  border-radius: 8px;
  margin-left: 308px;
  margin-top: -10px;
  margin-bottom: -20px;
  padding-right: 8px;
  padding-left: 8px;
  color: #00454E;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  background-color: #FAE76A;
  max-width: 80px;
  height: 40px;
}
/* se mere knap */
